body {
    /* background-image: url('./assests/CFS_Backgrpund.jpeg');
    background-size: 1300px 650px;
    background-repeat: no-repeat; */
    box-sizing: border-box;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)), url('./assests/CFS_Backgrpund.jpeg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-position: center;
}

.hero-about {
    background-image: linear-gradient(rgba(63, 170, 107, 0.5), rgba(63, 170, 107, 0.5)), url('./assests/CFS_Backgrpund.jpeg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-position: center;
}
.hero-testimonials {
    background-image: linear-gradient(rgba(63, 170, 107, 0.5), rgba(63, 170, 107, 0.5)), url('https://66.media.tumblr.com/3f171976a657d71853358b8fd7416ece/tumblr_ny6xroMtQa1tchrkco1_500.gif');
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* overflow: auto; */
    background-position: center;
}

.navbar {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}

.content {
    position: relative;
    
}

/* #navbar {
    text-align: center;
    position: fixed;
} */

/* #navbar > a{
    margin-right: 90px;
    color: darkgreen;
} */

#heading {
    color: darkgreen;
    text-align: center;
    margin-top: 300px;
    letter-spacing: 6px;
}

#services {
    color: darkgreen;
    text-align: center;
    margin-top: 300px;
    letter-spacing: 6px;
    text-decoration: underline;
}

.card {
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0,0.2);
    padding: 10px;
    margin: 20px 20px;
    height: 350px;
    box-shadow: 0px 5px 5px rgb(70, 67, 67);
    border: 1px solid darkgreen;
    font-size: 1vw;
    font-size: .7rem;
    width: 100% !important;
}

.card-img-top {
    border: 2px solid darkgreen;
    border-radius: 15px;
}

#contact-us {
    color: darkgreen;
    text-align: center;
    margin-top: 300px;
    letter-spacing: 6px;
    text-decoration: underline;
}

#map {
    height: 350px; 
    width: 100%;  
}

#request-quote {
    color: darkgreen;
    text-align: center;
    margin-top: 200px;
    letter-spacing: 6px;
    text-decoration: underline;
}

.subFrom input, textarea {
    background-color: blanchedalmond;
    width: 100%;
    opacity: .8;
    border-radius: 5px;
}

#sendBtn {
    border: 0;
    /* background-color: purple; */
    padding: .5rem;
    /* color: white; */
    margin: 1rem 0;
    width: auto;
    text-transform: uppercase;
}

#certificates {
}

#mission {
    text-align: center;
}

#dots {
    text-align: center;
    font-size: 100px;
    color: white;
}

#raul {
    border-radius: 50%;
    float: right;
    border: 2px solid white;
}

#our-story {
    text-align: center;
    margin-top: 150px;
}

#dot {
    text-align: center;
    font-size: 100px;
    color: white;
    text-decoration: underline;
}

#carouselExampleIndicators {
    height: 90vh;
}

.carousel-item {
    /* margin-left: 350px; */
    margin-top: 15rem;
    color: rgb(238, 241, 238);
}